.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  background: rgb(32, 32, 146);
  padding: 30px 0;
}
.capitalDiv{
  border: 1px solid #000;
}
.itemDiv{
  width: 300px;
  margin: 0 auto;
  background: white;
 
}
.countryDiv{
  margin: 10px 0;
  height: 40px;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.countryDiv p{
  width: 90%;
  margin: 0;
  text-align: start;
}
.button{
  cursor:pointer
}
.plusCapital{
  cursor: pointer;
}